<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lehi.megasorte">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/trevo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
       >



        <activity
            android:name="com.lehi.megasorte.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lehi.megasorte.selecionarActivity"
            android:label="@string/title_activity_selecionar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.lehi.megasorte.ParticipanteActivity"
            android:label="@string/title_activity_participante"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.lehi.megasorte.ConferirJogo_Activity"
            android:label="@string/title_activity_conferir_jogo_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.lehi.megasorte.ConferirJogoManualActivity"
            android:label="@string/title_activity_conferir_jogo_manual"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"
            tools:replace="android:configChanges"/>
        <activity
            android:name="com.lehi.megasorte.SobreActivity"
            android:label="@string/title_activity_sobre"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>